
html,body{
    margin: 0px;
    color: white;
    background-color: #2f4f30;
}

.title{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 40px;
}

.cards{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#player-cards, computer-cards{
    height: 260px;
}